.DS_Store
.idea
venv
__pycache__
/report/wlscirep.cls
/report/stream.jpg
/report/sample.bib
/report/naturemag-doi.bst
/report/main.tex
/report/jabbrv-ltwa-en.ldf
/report/jabbrv-ltwa-all.ldf
/report/jabbrv.sty
/report/images
/auxil
/out/main.synctex.gz
/auxil/
