cloudpickle==1.3.0
cycler==0.10.0
decorator==4.4.2
future==0.18.2
gym==0.17.1
kiwisolver==1.1.0
matplotlib==3.2.1
networkx==2.4
numpy==1.22.0
pandas==1.0.3
plotting
pyglet==1.5.0
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
scipy==1.4.1
six==1.14.0
tqdm==4.43.0
